apiVersion: v1
kind: BuildConfig
metadata:
    labels:
        app: tasks-app-dso-pipeline
    name: tasks-app-dso-pipeline
spec:
    source:
        git:
            ref: master
            uri: https://github.com/kenmoini/s2f-tasks-app.git
    strategy:
        jenkinsPipelineConfig:
            autoProvisionEnabled: false
        jenkinsPipelineStrategy:
            jenkinsPipelineConfig:
                autoProvisionEnabled: false
            env:
            - name: TEST_PROJECT
              value: test-user0
            - name: STAGE_PROJECT
              value: stage-user0
            - name: PROD_PROJECT
              value: stage-user0
            jenkinsfilePath: Jenkinsfile
        type: JenkinsPipeline
    triggers:
        - github:
            secret: secretSETSOMETHING
          type: GitHub
        - gitlab:
            secret: secretNOTTHISVALUE
          type: GitLab
        - generic:
            secret: secretCHANGEME
          type: Generic
        - bitbucket:
            secret: secretCHANGETHISTOO
          type: Bitbucket
